# this file is for handling line endings, CRLF is for windows
# * text eol=crlf # temporarily commented out, maybe will be deleted
* text=auto

# define word files
*.docx binary

# treat images as binary 
*.jpg binary
*.png binary

# videos
*.mp4 binary